img {
    max-width: 50%;
}

.header-text {
    display: flex;
    justify-content: space-between;
    padding: 16px;
    gap: 16px;
    margin: 16px 8px 16px 16px;
}

.right {
    display: flex;
    gap: 16px;
}

.header-image {
    background-image: url(./images/typewriter.jpg);
    height: 500px;
    background-position: center;
    border: 2px solid grey;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    opacity: 80%;
} 

a {
    color: white;
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
}