
.header-links {
    display: flex;
    justify-content: flex-end;
    gap: 8px;
    flex-shrink: 2;
}

a {
    color: black;
    font-weight: bold;
    font-size: 1.5vw;
    text-decoration: none;
    text-align: center;
}

.header-links a {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 1px;
    width: 10%;
    height: auto;
    flex-shrink: 1;
}

a img {
    margin-bottom: 5px;
    width: 30%;
    height: auto;
}

.header {
    background-color: white;
    height: 20%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    flex-shrink: 2;
}

.content {
    background-image: url("images/paigebackground.png");
    height: 700px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.logo img {
    height: auto;
    width: 80%;
    margin-left: 5px;
}
