img {
    max-width: 50%;
}

.header-links {
    display: flex;
    justify-content: flex-end;
    padding: 16px;
    gap: 16px;
    margin: 16px 8px 16px 16px;
}



a {
    color: blue;
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
}

.header {
    background-color: white;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.content {
    background-color: aquamarine;
    height: 500px;
}